### Exercise 1: Accept numbers from a user

    Write a program to accept two numbers from the user and calculate multiplication

In [3]:
num1= int(input("Enter the number : "))
num2 = int(input("Enter the number : "))
print(f"The multiplication of the {num1} and {num2} is : {num1*num2}")

Enter the number : 223
Enter the number : 23
The multiplication of the 223 and 23 is : 5129

### Exercise 2: Display three string “Name”, “Is”, “James” as “Name**Is**James”
    Use the print() function to format the given words in the mentioned format. Display the ** separator between each string

In [14]:
print('Name','Is','James', sep='**')

# print Amar's Code's
print("Amar\'s Code\'s")

# "Python's" "Code's"
print("\"Python\'s\" \"Code\'s\" ")

Name**Is**James
Amar's Code's
"Python's" "Code's"

### Exercise 3: Convert Decimal number to octal using print() output formatting
    Given: num = 8
    Expected Output:
    The octal number of decimal number 8 is 10

In [33]:

## yaha p hum decimal number ko octal m change kar rahe hai
num=8
print('%o'%num)

## another method
print(oct(8))

## to convert binary number into decimal 
## hume binary number hi dena hai hamehsa
print(0b111)

## to convert binary number into oct
## hume binary number hi dena hai hamehsa
print(0o111)

## to convert binary number into hex
## hume binary number hi dena hai hamehsa
print(0x111)

10
0o10
7
73
273

### Exercise 4: Display float number with 2 decimal places using print()
    
    Given:
    num = 458.541315
    Expected Output:458.54

In [35]:
num=458.541315
print(round(num,2))

458.54

### Exercise 5: Accept a list of 5 float numbers as an input from the user

    Expected Output:

    [78.6, 78.6, 85.3,78.6, 78.6, 85.3, 1.2, 3.5]

In [39]:
print("enter the number sep by comma : ")
numbers = input("enter the numbers : ")
num_list = numbers.split(',')
for i in range(len(num_list)):
    num_list[i]= float(num_list[i])
    
num_list

enter the number sep by comma :
enter the numbers : 1.2,3.4,5.6,6.6,7.7

[1.2, 3.4, 5.6, 6.6, 7.7]

In [41]:
## second method - 
print("enter the values")
num_list = []
for i in range(5):
    num= float(input("enter the value in float point : "))
    num_list.append(num)
num_list

enter the values
enter the value in float point : 23.4
enter the value in float point : 45.3
enter the value in float point : 23.5
enter the value in float point : 21.3
enter the value in float point : 12.3

[23.4, 45.3, 23.5, 21.3, 12.3]

### Exercise 6: Write all content of a given file into a new file by skipping line number 5

    Create a test.txt file and add the below content to it.

    Given test.txt file:
    line1
    line2
    line3
    line4
    line5
    line6
    line7
    
    Expected Output: new_file.txt

    line1
    line2
    line3
    line4
    line6
    line7

In [55]:
with open (r"C:\Users\amarj\Alabs_Python_Codes\a5_Python Practice - Daily Habit\0. Exercises Docs Materials\txt.txt",'r') as file1:
    content = file1.readlines()
print(f'The content of the file : - {content}')

with open (r"C:\Users\amarj\Alabs_Python_Codes\a5_Python Practice - Daily Habit\0. Exercises Docs Materials\new_file.txt",'w') as file2:
    count =1
    for line in content:
        if count==5:
            count+=1
            continue
        else: 
            file2.write(line)
        count+=1

The content of the file : - ['line1\n', 'line2\n', 'line3\n', 'line4\n', 'line5\n', 'line6\n', 'line7']

### Exercise 7: Accept any three string from one input() call
    Write a program to take three names as input from a user in the single input() function call.

In [58]:
name1,name2,name3 = input("enter three names : ").split()
print(name1)
print(name2)
print(name3)

enter three names : amar vanshaj sheetal
amar
vanshaj
sheetal

### Exercise 8: Format variables using a string.format() method.
    Write a program to use string.format() method to format the following three variables as per the expected output
     
    Given:
    totalMoney = 1000
    quantity = 3
    price = 450
    
    Expected Output:
    I have 1000 dollars so I can buy 3 football for 450.00 dollars.

In [59]:
totalMoney = 1000
quantity = 3
price = 450
line = "I have {0} dollars so I can buy {1} football for {2} dollars."
print(line.format(totalMoney,quantity,price))

I have 1000 dollars so I can buy 3 football for 450 dollars.

### Exercise 9: Check file is empty or not
    Write a program to check if the given file is empty or not

In [61]:
import os 
size =os.stat(r"C:\Users\amarj\Alabs_Python_Codes\a5_Python Practice - Daily Habit\0. Exercises Docs Materials\empty.txt").st_size
if size == 0:
    print("empty")
else:
    print("not empty")

empty

### Exercise 10: Read line number 4 from the following file

    Given:
    test.txt file:

    line1
    line2
    line3
    line4
    line5
    line6
    line7

In [63]:
with open (r"C:\Users\amarj\Alabs_Python_Codes\a5_Python Practice - Daily Habit\0. Exercises Docs Materials\txt.txt",'r') as file1:
    content = file1.readlines()
print(f'The content of the file : - {content}')

print(f'line 4 : {content[3]}')

The content of the file : - ['line1\n', 'line2\n', 'line3\n', 'line4\n', 'line5\n', 'line6\n', 'line7']
line 4 : line4