### Loop Exercise

###  Exercise 1: Print First 10 natural numbers using while loop

In [1]:
n=1
while(n<11):
    print(n)
    n+=1

1
2
3
4
5
6
7
8
9
10

### Exercise 2: Print the following pattern
    Write a program to print the following number pattern using a loop.
    1 
    1 2 
    1 2 3 
    1 2 3 4 
    1 2 3 4 5

In [2]:
n=5
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j ,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

### Exercise 3: Calculate the sum of all numbers from 1 to a given number

    Write a program to accept a number from a user and calculate the sum of all numbers from 1 to a given number

    For example, if the user entered 10 the output should be 55 (1+2+3+4+5+6+7+8+9+10)

    Expected Output:

    Enter number 10
    Sum is:  55

In [3]:
user_num = int(input("enter the number : "))
i=1
total_sum = 0
while(i<=user_num):
    total_sum=total_sum+i
    i+=1
print(f"The total sum of the numbers from 1 to {user_num} is {total_sum}")

enter the number : 10
The total sum of the numbers from 1 to 10 is 55

### Exercise 4: Write a program to print multiplication table of a given number
    For example, num = 2 so the output should be
    2
    4
    6
    8
    10
    12
    14
    16
    18
    20

In [4]:
num = int(input("enter the number for which you want to find the table : "))
mul_num = int(input("enter the number for upto which you want to show the numbers : "))
i = 1
while(i<=mul_num):
    print(f"{num}*{i} = {num*i}")
    i=i+1

enter the number for which you want to find the table : 45
enter the number for upto which you want to show the numbers : 20
45*1 = 45
45*2 = 90
45*3 = 135
45*4 = 180
45*5 = 225
45*6 = 270
45*7 = 315
45*8 = 360
45*9 = 405
45*10 = 450
45*11 = 495
45*12 = 540
45*13 = 585
45*14 = 630
45*15 = 675
45*16 = 720
45*17 = 765
45*18 = 810
45*19 = 855
45*20 = 900

### Exercise 5: Display numbers from a list using loop

    Write a program to display only those numbers from a list that satisfy the following conditions

    The number must be divisible by five
    If the number is greater than 150, then skip it and move to the next number
    If the number is greater than 500, then stop the loop
    
    Given:
    numbers = [12, 75, 150, 180, 145, 525, 50]

In [5]:
numbers = [12, 75, 150, 180, 145, 525, 50]
for num in numbers:
    if num>500:
        break
    if num>150:
        continue
    if num%5==0:
        print(num)

75
150
145

### Exercise 6: Count the total number of digits in a number
    Write a program to count the total number of digits in a number using a while loop.

    For example, the number is 75869, so the output should be 5.

In [6]:
number = int(input("enter the number : "))
temp= number
count = 0
while(number!=0):
    number = int(number/10)
    count=count+1
print(f"The count of digits in {temp} is {count}")

enter the number : 34567
The count of digits in 34567 is 5

### Exercise 7: Print the following pattern

    Write a program to use for loop to print the following reverse number pattern

    5 4 3 2 1 
    4 3 2 1 
    3 2 1 
    2 1 
    1

In [7]:
n=5
k=5
for i in range(n):
    p=k
    for j in range(i,n):
        print(p,end=' ')
        p-=1    
    k-=1
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

### Exercise 8: Print list in reverse order using a loop

    Given:
    list1 = [10, 20, 30, 40, 50]
    
    Expected output:
    50
    40
    30
    20
    10

In [8]:
list1 = [10, 20, 30, 40, 50]
n = len(list1)
print("--using logic 1 ")
for i in range(len(list1)):
    print(list1[n-1])
    n-=1
    
## logic 2 using rev function
print("--using logic 2 ")
list1 = list(reversed(list1))
print(list1)

## logic 3 using slicing
print("--using logic 3 ")
list1[::-1]

--using logic 1
50
40
30
20
10
--using logic 2
[50, 40, 30, 20, 10]
--using logic 3

[10, 20, 30, 40, 50]

### Exercise 9: Display numbers from -10 to -1 using for loop

    Expected output:

    -10
    -9
    -8
    -7
    -6
    -5
    -4
    -3
    -2
    -1

In [9]:
for i in range(-10,0,1):
    print(i)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

### Exercise 10: Use else block to display a message “Done” after successful execution of for loop
    For example, the following loop will execute without any error.

    Given:
    for i in range(5):
        print(i)  

    Expected output:
    0
    1
    2
    3
    4
    Done!

In [10]:
for i in range(5):
    print(i)  
print("Done!")

0
1
2
3
4
Done!

### Exercise 11: Write a program to display all prime numbers within a range
    Note: A Prime Number is a number that cannot be made by multiplying other whole numbers. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers


    Examples:
    6 is not a prime mumber because it can be made by 2×3 = 6
    37 is a prime number because no other whole numbers multiply together to make it.

    Given:
    # range
    start = 25
    end = 50

    Expected output:
    Prime numbers between 25 and 50 are:
    29
    31
    37
    41
    43
    47

In [11]:
## simple prime question:
number = int(input("enter the number : "))

if(number == 0 and number <0):
    print("not prime - you may have enter number 0 or less than 0")

count =0
for i in range(1,number+1):
    if number%i==0:
        count+=1

if count==2:
    print(f"The {number} is prime")
else:
    print(f"The {number} is not prime")

enter the number : 34
The 34 is not prime

In [12]:
import math
number = int(input("enter the number : "))

if(number == 0 and number <0):
    print("not prime - you may have enter number 0 or less than 0")

elif(number ==1 ):
    print(f"{number} is not prime")

else:
    isprime=True
    for i in range(2,int(math.sqrt(number)+1)):
        if number%i==0:
            isprime=False
            break
    
    if isprime==True:
        print(f"The {number} is prime ")
    else:
        print(f"The {number} is not prime")

enter the number : 23
The 23 is prime

In [13]:
## prime as per question :-
start = 25
end = 50
while(start!=end):
    isprime=True
    for i in range(2,int(math.sqrt(start)+1)):
        if start%i==0:
            isprime=False
            break
            
    if isprime==True:
        print(f"The {start} is prime ")
            
    start=start+1

The 29 is prime
The 31 is prime
The 37 is prime
The 41 is prime
The 43 is prime
The 47 is prime

### Exercise 12: Display Fibonacci series up to 10 terms

    The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The         first two numbers are 0 and 1.

    For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34.

    Expected output:
    Fibonacci sequence:
    0  1  1  2  3  5  8  13  21  34

In [14]:
number = int(input("enter the number :"))
a = 0
b = 1

for i in range(10):
    print(a, end=" ")
    c=a+b
    a=b
    b=c

enter the number :20
0 1 1 2 3 5 8 13 21 34

### Exercise 13: Find the factorial of a given number
    Write a program to use the loop to find the factorial of a given number.

    The factorial (symbol: !) means to multiply all whole numbers from the chosen number down to 1.

    For example: calculate the factorial of 5

    5! = 5 × 4 × 3 × 2 × 1 = 120
    
    Expected output:
    120

In [15]:
number = int(input("enter the number :"))
res = 1
for i in range(1,number+1):
    res = res*i
print(f"The Factorial of {number} is : {res}")

enter the number :65
The Factorial of 65 is : 8247650592082470666723170306785496252186258551345437492922123134388955774976000000000000000

### Exercise 14: Reverse a given integer number
    Given:
    76542

    Expected output:
    24567

In [16]:
number = int(input("enter the number :"))
reverse = 0
while(number!=0):
    last_digit = number%10
    reverse = (reverse*10)+last_digit
    number = int(number/10)
    
reverse

enter the number :8975

5798

### Exercise 15: Use a loop to display elements from a given list present at odd index positions
    Given:
    my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

    Note: list index always starts at 0

    Expected output:
    20 40 60 80 100

In [17]:
my_list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
for i in range(len(my_list)):
    if i&1==1: # bcz we have to print at odd positions
        print(f"{i} {my_list[i]}")

1 20
3 40
5 60
7 80
9 100

### Exercise 16: Calculate the cube of all numbers from 1 to a given number

    Write a program to rint the cube of all numbers from 1 to a given number

    Given:
    input_number = 6

    Expected output:
    Current Number is : 1  and the cube is 1
    Current Number is : 2  and the cube is 8
    Current Number is : 3  and the cube is 27
    Current Number is : 4  and the cube is 64
    Current Number is : 5  and the cube is 125
    Current Number is : 6  and the cube is 216

In [18]:
number = int(input("enter the number :"))
i = 1
while(i<=number):
    print(f"Current number is : {i} and the cube is {i**3}")
    i+=1

enter the number :23
Current number is : 1 and the cube is 1
Current number is : 2 and the cube is 8
Current number is : 3 and the cube is 27
Current number is : 4 and the cube is 64
Current number is : 5 and the cube is 125
Current number is : 6 and the cube is 216
Current number is : 7 and the cube is 343
Current number is : 8 and the cube is 512
Current number is : 9 and the cube is 729
Current number is : 10 and the cube is 1000
Current number is : 11 and the cube is 1331
Current number is : 12 and the cube is 1728
Current number is : 13 and the cube is 2197
Current number is : 14 and the cube is 2744
Current number is : 15 and the cube is 3375
Current number is : 16 and the cube is 4096
Current number is : 17 and the cube is 4913
Current number is : 18 and the cube is 5832
Current number is : 19 and the cube is 6859
Current number is : 20 and the cube is 8000
Current number is : 21 and the cube is 9261
Current number is : 22 and the cube is 10648
Current number is : 23 and the cube is 12167

### Exercise 17: Find the sum of the series upto n terms

    Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 
    2 + 22 + 222 + 2222 + 22222 = 24690

    Given:
    number of terms
    n = 5

    Expected output:
    24690

In [19]:
n = 5
total_sum = 0
curr_num = 2
i=1
while(i<=n):
    total_sum+=curr_num
    print(curr_num)
    curr_num = (curr_num*10)+2
    i+=1
total_sum

2
22
222
2222
22222

24690

In [20]:
ser_num = int(input("enter the series number for which you want to find the sum : ")) 
value =   int(input("Upto which value you want to find the sum : "))
i=1
n = ser_num
total_sum = 0
while(i<=value):
    print(f"current number is after {i} : ",ser_num)
    total_sum+=ser_num
    ser_num = (ser_num*10)+n
    i+=1
print("The total sum is : ",total_sum)

enter the series number for which you want to find the sum : 3
Upto which value you want to find the sum : 6
current number is after 1 :  3
current number is after 2 :  33
current number is after 3 :  333
current number is after 4 :  3333
current number is after 5 :  33333
current number is after 6 :  333333
The total sum is :  370368

### Exercise 18: Print the following pattern
    Write a program to print the following start pattern using the for loop

    * 
    * * 
    * * * 
    * * * * 
    * * * * * 
    * * * * 
    * * * 
    * * 
    *

In [21]:
n=5
for i in range(n-1):
    for j in range(i+1):
        print("*",end=" ")
    print()    
for i in range(n):
    for j in range(i,n):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*